.container{
    max-width: 1200x;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 1.2rem ;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    height: 100%;
}
.nav_link{
    padding: 10px 30px;
    position: relative;
    margin-left: 30px;
    font-size: 14px;
    color:black;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
}

.nav_link:hover{
    border:2px solid black;
    transition: 0.4s;
}
